#example {
    height: 500px;
    width: 500px;
}

#exampleNavigator {
    height: 100px;
    width: 150px;
}

#wideexample {
    height: 300px;
    width: 700px;
}

#tallexample {
    height: 700px;
    width: 300px;
}

#unitsexample, #example-overlays {
    height: 500px;
    width: 500px;
}

#layersexample {
    height: 500px;
    width: 500px;
}
