{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "test/**",
    "node_modules/**",
    "build/**",
    "instrumented/**",
    "coverage/**",
    ".nyc_output/**"
  ],
  "reporter": [
    "text",
    "text-summary",
    "lcov",
    "html"
  ],
  "report-dir": "coverage",
  "temp-directory": ".nyc_output",
  "all": true,
  "check-coverage": false
}